<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="org.testng.reporters.TestHTMLReporter">
            <parameter name="output-directory" value="test-output">
            </parameter>
            <parameter name="file-name" value="testng_report">
            </parameter>
        </listener>
    </listeners>

    <test name="MyFirstTest">
        <classes>
            <class name="tests.Test1">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>